.container {
    overflow: hidden;
    position: relative;
    background-color: hsl(208, 100%, 98%);
    max-width: 24rem;
    flex-basis: 20rem;
    flex-grow: 1;
    border-radius: 8px;
}

.thumbnail img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.city {
    overflow: hidden;
    position: absolute;
    top: 1rem;
    background-color: rgba(0, 0, 0, .4);
    backdrop-filter: blur(5px);
    border-radius: 0 4px 4px 0;
}

.city h5 {
    color: white;
    margin: .5rem 1rem;
    font-weight: 400;
}

.body {
    padding: 1.4rem 2rem;
}

.body * {
    margin: 0;
}

.body h5 {
    margin-bottom: 1rem;
}

.body h3 {
    margin-bottom: .4rem;
}

.body p {
    margin-bottom: 1rem;
}