.container {
    position: relative;
    height: 60vh;
    width: 100%;
}

.container picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 40%;
}

.heading {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    opacity: .9;
}

.heading * {
    color: white;
}

.heading h1 {
    margin: 0;
    font-size: 3.5rem;
}